body{
  background-color: #222;
  display: flex;
}
.chess-desk{
  width: 620px;
  height: 615px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
}
.chess-box{
  width: 75px;
  height: 75px;
  background: #A67D5B;
  border: 1px solid #e5e5e5;
  color: #fff;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.white{
  background-color: #E2CCAA;
}

.red{
  background-color: red;
}

button{
  display: inline-block;
  width: 100px;
  height: 100px;
  cursor: pointer;
  color: #fff;
  font-size: 45px;
  background-color: transparent;
  border: 1px solid transparent;
}